export(MethylResolver)

import(varhandle)
import(doSNOW)
import(snow)
import(robustbase)
import(foreach)
import(doParallel)
import(Metrics)
import(randomForest)
importFrom("stats", "as.formula", "cor", "predict")
importFrom("utils", "data", "setTxtProgressBar", "txtProgressBar", "write.table")